{
  "presets": [
    [
      "@babel/preset-react",
      {
        "pragma": "dom", // default pragma is React.createElement (only in classic runtime)
        "runtime": "classic" // defaults to classic
      }
    ]
  ]
}